@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Be In Pink</h1>
    <p class="lead">BE IN PINK is a free platform for building great health and fitness with the help of our talented Coaches</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/Images/health-wellness.jpg" class="responsive" />
    </div>
    <div class="col-md-6">
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large">

            There are different form of this diet, depending on the time intervals of "fasting" and "feasting."

            The so-called 5:2 diet, for instance, consists of eating normally for 5 days every week and fasting for 2 days.

            In the fasting days, the dieter restricts their calorie intake to 500 or 600 per day.

            In daily fasting, or the 16:8 diet, people eat whatever they like for 8 hours and fast for the remaining 16.
        </p>

    </div>

</div>